* {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.playground {
    position: relative;
}

.playground canvas {
     border: 1px solid gainsboro;
 }

.info {
    margin: 5px 0 10px;
}

.info>.info-label {
    padding-right: 25px;
    font-weight: 600;
}

.controls {
    margin: 15px 0;
}

.ctrl-group {
    display: inline-block;
}

.ctrl-group:not(:first-child) {
    padding-left: 25px;
}

.btns {
    display: inline;
    margin-right: 10px;
}

.btns>.btn {
    display: inline-block;
    min-width: 15px;
    height: 20px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
    text-align: center;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 18px;
}

.suffer-bitch {
    width: 402px;
    height: 302px;
    position: absolute;
    top: 0;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: 900;
    line-height: 1;
    display: flex;
    color: #e28585;
    text-shadow: 0 0 4px #ecc4c4
}

.suffer-bitch span {
    margin: auto;
}